<div class="container my-auto p-3" th:fragment="contenido">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header h3" th:text="${fiesta.nombre}"></div>
                <div class="card-body">
                    <p>
                        <span class="fw-bold">Descripción:</span>
                        <span th:text="${fiesta.descripcion}"></span>
                    </p>
                    <p>
                        <span class="fw-bold">Fecha de inicio:</span>
                        <span th:text="${#dates.format(fiesta.fechaInicio, 'dd/MM/yyyy')}"></span>
                    </p>
                    <p>
                        <span class="fw-bold">Fecha de finalización:</span>
                        <span th:text="${#dates.format(fiesta.fechaFin, 'dd/MM/yyyy')}"></span>
                    </p>
                    <p>
                        <span class="fw-bold">Enlace:</span>
                        <span th:text="${fiesta.enlace}"></span>
                    </p>
                    <div class="mb-3" th:if="${fiesta.foto != null}">
                        <img th:src="${'/images/fiestas/' + fiesta.foto}" height="200px">
                    </div>
                    <p>
                        <span class="fw-bold">Predio:</span>
                        <span th:text="${fiesta.predio}"></span>
                    </p>
                    <form th:action="@{'/fiestas/enviarcorreo/{id}' (id=${fiesta.id})}" th:object="${fiesta}" method="POST">
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger" onclick="enviarCorreo()">Enviar por correo</button>
                        </div>
                    </form>
                    <div class="d-flex justify-content-center">
                        <a href="/fiestas" class="btn btn-secondary mx-2">Volver</a>
            </div>
        </div>
    </div>
</div>

<script th:fragment="script"></script>