/* cambiar tipo de letra */
nav.navbar ul.nav li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    
}
 
/* cambiar el color de fondo a la barra */
nav.navbar {
    background-color: rgb(124, 124, 231);
}

body {
    background-image: url("/images/fondo.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
}



img {
    max-width:100%;
    height:auto;
    max-height:100%;
    align-items: center;
 }
 
/* ---------------------------------------------------
                CONTENT STYLE
--------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
}

@media (min-width: 576px) {
    .card-columns { column-count: 2; }
}

@media (min-width: 768px) {
    .card-columns { column-count: 3; }
}

@media (min-width: 992px) {
    .card-columns { column-count: 4; }
}
