<div class="container pt-3 my-auto" th:fragment="contenido">



    <div class="card-group">
        <div class="card border-dark">
            <div class="card">
                <img class="card-img-top" src="images/imagenesFondos/Fiesta-nacional-Navidad.jpg" alt="Card image cap">
                <div class="card-block">
                    <h5 class="card-title"><strong>Fiesta Nacional de la Navidad</strong></h5>
                    <p class="card-text">Se realiza durante la segunda quincena de diciembre por las principales calles
                        de la ciudad,
                        que son ornamentadas especialmente para la ocasión con materiales reciclados que donan los
                        vecinos durante todo el año. La fiesta incluye un desfile de carrozas, una exposición navideña
                        de artesanías, degustación de gastronomía y espectáculos de lo más variados
                        entre artistas locales, provinciales y nacionales. También hay presentaciones musicales de coros
                        y solistas.</p>
                    <a href="https://fiestadelanavidad.com.ar" target="_blank"><strong> Sitio
                            Web Oficial</strong></a>
                </div>

            </div>
        </div>


        <div class="card border-dark">
            <div class="card">
                <img class="card-img-top" src="images/imagenesFondos/fiesta-nac-inmigrantes.jpg" alt="Card image cap">
                <div class="card-block">
                    <h5 class="card-title"><strong>Fiesta Nacional del Inmigrante</strong></h5>
                    <p class="card-text">La Fiesta Nacional del Inmigrante se celebra año a año en la ciudad de Oberá,
                        Misiones,
                        se realiza durante la primera quincena de septiembre en el Parque de la Naciones. Durante las
                        jornadas de la fiesta se suceden
                        espectáculos artísticos de nivel internacional y donde también actúan los ballets de las
                        colectividades. Durante la fiesta, una de las jornadas más importantes es la elección y
                        coronación de la Reina Nacional del Inmigrante, en donde participan
                        representantes de cada colectividad, la mayoría nietas o descendientes de inmigrantes que
                        llegaron a esas tierras.
                    </p>
                    <a href="https://fiestadelinmigrante.com.ar/" target="_blank"><strong>
                            Sitio Web Oficial</strong></a>
                </div>

            </div>
        </div>


        <div class="card border-dark">
            <div class="card">
                <img class="card-img-top" src="images/imagenesFondos/Fiesta-Nacional-Yerba.jpg" alt="Card image cap">
                <div class="card-block">
                    <h5 class="card-title"><strong>Fiesta Nacional de la Yerba Mate</strong></h5>
                    <p class="card-text">La 44° Fiesta Nacional e internacional se realizará del 2 al 6 de Noviembre de
                        2022 en el PREDIO EXPO YERBA de Apóstoles, Misiones, siendo la intención de la Comisión
                        Organizadora,
                        el poder promocionar el producto madre de nuestra Región, LA YERBA MATE y brindar a la misma, un
                        espectáculo artístico de primera calidad, acortando distáncias con los festivales de las grandes
                        capitales del país. </p>
                    <a href="https://www.fiestadelayerbamate.com.ar/" target="_blank"><strong>
                            Sitio Web Oficial</strong></a>

                </div>

            </div>
        </div>


        <div class="card border-dark">
            <div class="card">
                <img class="card-img-top" src="images/imagenesFondos/Fiesta-Nacional-Orquidea.jpg" alt="Card image cap">
                <div class="card-block">
                    <h5 class="card-title"><strong>Fiesta Nacional de la Orquídea y Provincial de la Flor</strong></h5>
                    <p class="card-text">Se realiza en la ciudad de Montecarlo , Misiones; en el mes de octubre de cada
                        año. Se trata de la expo-orquídeas más grande del país, donde año a año buscan fortalecer la
                        muestra que incluye gran variedad de plantas y flores.
                        Pero además se incluyen espectáculos artísticos, ferias artesanales, capacitaciones y shows.
                    </p>
                    <a href="https://www.facebook.com/fiestadelaorquideamisiones/about/?ref=page_internal"
                        target="_blank"><strong>
                            Sitio Web Oficial</strong></a>
                </div>
            </div>
        </div>


        <div class="card border-dark">
            <div class="card">
                <img class="card-img-top" src="images/imagenesFondos/Fiesta-Nacional-Madera.jpg" alt="Card image cap">
                <div class="card-block">
                    <h5 class="card-title"><strong>Fiesta Nacional de la Madera</strong></h5>
                    <p class="card-text">Esta celebración, que dura cuatro días en las primeras semanas del mes de mayo,
                        reúne a toda la familia trabajadora de la madera del Alto Uruguay y constituye una de las
                        fiestas más importantes de la provincia de Misiones.
                        Impulsado por la Comisión Organizadora de la Fiesta Nacional de la Madera, y con el respaldo de
                        la municipalidad de San Vicente, el programa de actividades, cuyo epicentro es el polideportivo
                        municipal, incluye una exposición artesanal,
                        industrial, comercial y agrícola que acompaña a los espectáculos artísticos de primer nivel.
                    </p>
                    <a href="https://www.facebook.com/fiestanacionaldelamadera/" target="_blank"><strong>
                            Sitio Web Oficial</strong></a>
                </div>
            </div>
        </div>

    </div>
</div>









<script th:fragment="script"></script>