<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Plantilla para correo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <p>
            ¡Hola!</span>
        </p>
        <p>
            Te mandamos los datos de la <b th:text="${fiesta}">Fiesta</b> que se realizará entre los días
            <span th:text="${fechaInicio}">FechaInicio</span> y <span th:text="${fechaFin}">FechaFin</span>
        </p>
        <p>
            Saludos, <br/>
            <em>El equipo de Festividades Provinciales del Polo TIC@2022</em>
        </p>
    </body>
</html>